{{#playerdb}}
  <h2>{{age}}</h2>

  <ol>
  {{#age}}
    <li>
      {{.}}
    </li>
  {{/age}}
</ol>

  <form action="/{{_id}}/new_age/" method="POST">
    <p>
      <input type="text" name="age" placeholder="Add New Age"/>
    </p>

    <p>
      <button type="submit">Add Age</button>
      <a href="/{{_id}}/" class="button button-danger">Back to Players</a>
    </p>
  </form>
{{/playerdb}}
