{{#player}}
  <h2>{{jerseyNumber}}</h2>

  <ol>
  {{#jerseyNumber}}
    <li>
      {{.}}
    </li>
  {{/jerseyNumber}}
</ol>

  <form action="/{{_id}}/new_jerseyNumber/" method="POST">
    <p>
      <input type="text" name="jerseyNumber" placeholder="Add New Jersey Number"/>
    </p>

    <p>
      <button type="submit">Add Jersey Number</button>
      <a href="/{{_id}}/" class="button button-danger">Back to Players</a>
    </p>
  </form>
{{/player}}
